<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appbullying">

    <application
        android:allowBackup="true"
        android:label="AppBullying"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppBullying">

        <!-- LOGIN (TELA INICIAL) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- TELA DE CADASTRO -->
        <activity
            android:name=".CadastroActivity"
            android:exported="false" />

        <!-- FORMULÁRIO DO ALUNO -->
        <activity
            android:name=".ActivityFormularioAluno"
            android:exported="false" />

        <!-- TELA DO PROFESSOR (RELATOS) -->
        <activity
            android:name=".ActivityRelatos"
            android:exported="false" />

    </application>

</manifest>
